<%= form_with model: @kitten, local: true do |form| %>


<p>
  <%= form.label :Name %><br>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :Age %><br>
  <%= form.number_field :age %>
</p>
<p>
  <%= form.label :Cuteness %><br>
  <%= form.text_field :cuteness %>
</p>
<p>
  <%= form.label :Softness %><br>
  <%= form.text_field :softness %>
</p>
<p>
  <%= form.submit 'Create Kitten', :class => 'f6 link dim br2 ba ph3 pv2 mb2 dib dark-green'  %>
</p>

<% end %>