<h1>KittenDB</h1>

<p>Catalog your kittens here!</p>
<%= link_to 'New Kitten', new_kitten_path %>
<table>
  <tr>
    <%# Trying to iterate over the column names %>
    <% @kitten_columns.each do |col_name| %>
    <th><%= col_name.capitalize %></th>
    <% end %>
  </tr>

  <% @kittens.each do |kitten| %>
  <tr>
    <td><%= kitten.name %></td>
    <td><%= kitten.age %></td>
    <td><%= kitten.cuteness %></td>
    <td><%= kitten.softness%></td>
    <td><%= link_to 'Show Kitten', kitten_path(kitten) %></td>
  </tr>
  <% end %>

</table>