<div>
  <%# Using pluralize to say year or years depending on age %>
  <p><%= @kitten.name %> is <%= pluralize(@kitten.age, "year")%> old!</p>
  <p>They are <strong><%= @kitten.cuteness %></strong> on the cuteness scale and <strong><%= @kitten.softness%></strong> in softness</p>
  <%= link_to 'All Kittens', kittens_path %>
</div>